Package: com.serena.antoine
Name: Antoine
Version: 1.2
Architecture: iphoneos-arm
Description: An Application to view System Logs, commonly known as syslog or OSLog, in real time
Maintainer: Antoine
Author: Antoine
Section: Tweaks
